{% set active_page='index'%}{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
   <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $.tablesorter.addParser({
        id: 'frequencysorter',
        is: function(s) { 
            // return false so this parser is not auto detected 
            return false; 
        }, 
        format: function(value, table, cell) {
            if (value == 'Monthly') {
                return 0;
            } else if (value=='Quarterly') {
                return 1;
            } else if (value=='Less than quarterly') {
                return 2;
            } else {
                return 3;
            }
        },
        type: 'numeric'
    }); 
    $("table#frequencies").tablesorter({
                headers: {
                    0: {
                        sorter: 'frequencysorter'
                       }
                },
                sortList: [[0,0]] });
    });
    </script>
    <div class="jumbotron masthead">
        <div class="container">
        <h1><span class="black">IATI Updates</span></h1>
        <p class="lead">Explore IATI Registry data</p>
        </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                  <div class="alert alert-{{category}} flashmessage">
                    <p>{{message}}</p>
                    </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    <div class="row"><p class="lead">Slice and dice data from the <a href="http://iatiregistry.org">IATI Registry</a>.</p></div>
    <div class="row">
            <div class="span6">
                <h1>Publishers</h1>
                <p class="lead">See data for individual publishers</p>
                <p>
                <a class="btn btn-primary" href="{{url_for('publisher')}}">Publishers »</a>
                </p>
            </div>
            <div class="span6">
                <h1>Revisions</h1>
                <p class="lead">See revisions information</p>
                <p>
                <a class="btn btn-primary" href="{{url_for('revision')}}">Revisions »</a>
                </p>
            </div>
        </div>
        <div class="row">
                <div class="span6">
                    <h1>Stats</h1>
                    <p class="lead">There are {{num_publishers}} publishers on the IATI Registry.</p>
                    <table class="table" id="frequencies">
                    <thead>
                        <th>Frequency of publication</th>
                        <th>Number</th>
                    </thead>
                    <tbody>
                    {% for frequency in frequency_totals %}
                    <tr><td>{{frequencies[frequency[0]]}}</td><td>{{frequency[1]}}</td>
                    {%endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
    </div>

{% endblock %}
