{% set active_page='index'%}{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron masthead">
        <div class="container">
        <h1><span class="black">IATI Updates</span></h1>
        <p class="lead">Explore IATI Registry data</p>
        </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                  <div class="alert alert-{{category}} flashmessage">
                    <p>{{message}}</p>
                    </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    <div class="row"><p class="lead">Slice and dice data from the <a href="http://iatiregistry.org">IATI Registry</a>.</p></div>
    <div class="row">
            <div class="span6">
                <h1>Organisations</h1>
                <p class="lead">See data for individual organisations</p>
                <p>
                <a class="btn btn-primary" href="">Organisations »</a>
                </p>
            </div>
            <div class="span6">
                <h1>Frequency</h1>
                <p class="lead">See update frequency</p>
                <p>
                <a class="btn btn-primary" href="">Frequency »</a>
                </p>
            </div>
        </div>
        <div class="row">
                <div class="span6">
                    <h1>Stats</h1>
                    <p class="lead">There are {{num_publishers}} publishers on the IATI Registry.</p>
                </div>
            </div>
    </div>

{% endblock %}
