{% set active_page='package'%}{% extends "layout.html" %}
{% block title %}Packages{% endblock %}
{% block content %}
   <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#packages").tablesorter({ sortList: [[0,0]] });
    });

    </script>
    <h1>Packages</h1>
    <table class="table" id="packages">
        <thead>
        <th>Package name</th><th>Issues</th><th>Registry</th>
        </thead>
        <tbody>
        {% for package in packages %}
        <tr{% if package.deleted %} class="muted"{% endif %}>
            <td>{{package.Package.name}}</td>
            <td>{% if package.Package.issue_type %}{{package.Package.issue_type}}{% endif %}</td>
            <td>{% if package.Package.deleted %}
                <i class="icon-remove" title="This package has been deleted"></i>
                {% else %}
                <a href="http://iatiregistry.org/dataset/{{package.Package.name}}">
                <i class="icon-arrow-right"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
