{% set active_page='revisions'%}{% extends "layout.html" %}
{% block title %}Revisions{% endblock %}
{% block content %}
   <script src="url_for('static', filename='jquery.tablesorter.min.js')"></script>
    <script >
    $(function() {
    $("table#revisions").tablesorter({ sortList: [[0,0]] });
    });

    </script>
    <h1>Revisions</h1>
    <div class="pull-right">
            <label for="include_iati_archiver"><input type="checkbox" id="include_iati_archiver" /> Include IATI Archiver</label>
            <label for="limit">Show records: <input type="text" id="limit" value="50" /></label>
            <label for="offset">Starting at: <input type="text" id="offset" value="0" /></label>
        </div>
        <label for="publisher_select">By Publisher: <select name="publisher_select" id="publisher_select" >
        <option value="">Loading publishers...</option>
        </select></label>
        <input type="button" id="show_all_data" value="All publishers" />
        <div id="publisher_title"></div>
        <table id="publisher_data" class="table">
        <thead><th>Date</th><th>Message</th><th>Publisher</th></thead>
        <tbody>
        <tr><td colspan="3">Please select a publisher or all publishers from above.</td></tr>
        </tbody>
        </table>
        <div class="pager">
          <ul class="pager">
            <li class="previous disabled"><a href="#" id="previous">&laquo; Newer</a></li>
            <li class="next"><a href="#" id="next">Older &raquo;</a></li>
          </ul>
        </div>
<script type="text/javascript">
  $(document).ready(function() {
        $.getJSON('{{url_for('api_publisher')}}', function(data) {
             $("#publisher_select").empty().append('<option value="">Select one...</option>');
             $.each(data['data'], function(key, packagegroup) {
                $("#publisher_select").append('<option value="' + packagegroup["name"] + '">' + packagegroup["display_name"] + '</option>');
            });
        });
  });

    var api_url = "{{url_for('api_revision')}}"

    var limit = 50;
    var offset = 0;
    var which_selection = "all";

    $("#publisher_select").change(function(e){
        which_selection = "publisher";
        offset = 0;
        $("#offset").val(offset);
        $(".previous").addClass("disabled");
        get_packagegroup_data();
    });

    $("#include_iati_archiver").change(function(e){
        get_packagegroup_data();
    });

    $("#limit").change(function(){
        limit = $(this).val();
        get_packagegroup_data();
    });
    $("#offset").change(function(){
        offset = $(this).val();
        get_packagegroup_data();
    });
    function get_packagegroup_data(){ 

        packagegroup_name = $("#publisher_select").val();
        $("#publisher_data tbody").empty();
        if (limit < 1000){
            wait_message = "Just getting that data for you...";
        } else {
            wait_message = "Just getting that data for you. It might take some time as you're asking for so many records."
        }
        $("#publisher_data tbody").append('<tr><td colspan="3"><i class="icon-refresh"></i> ' + wait_message + '</td></tr>');

        $("#publisher_title").empty();
        if (which_selection == "all") {
            if ($("#include_iati_archiver").prop('checked')) {
                var the_url = api_url;
                var conditions = ""
            } else {
                var the_url = api_url;
                var conditions = '"exclude_iatiarchiver":""'
            }
        } else {
            if ($("#include_iati_archiver").prop('checked')) {
                var the_url = api_url;
                var conditions = '"packagegroup_name":"' + packagegroup_name + '"';
            } else {
                var the_url = api_url;
                var conditions = '"packagegroup_name":"' + packagegroup_name + '", "exclude_iatiarchiver":""';
            }
        }
        if (conditions != "") {
            conditions = "&conditions={" + conditions + "}";
        }
        $.getJSON(the_url + "?limit=" + limit + "&offset=" + offset + conditions, function(data) {
            $("#publisher_data tbody").empty();

            if (data.length==0){
                report_error("No results found");
            } else {
                $.each(data['data'], function(key, revision) {
                    if (revision["name"]) {
                        var name = "" + revision["name"] + "";
                    } else {
                        var name = ""
                    }
                    if (revision["publisher"] == null) {
                        revision["publisher"] = {};
                        revision["publisher"]["name"] = "";
                        revision["publisher"]["display_name"] = "";
                    }
                    $("#publisher_data tbody").append('<tr><td><a href="http://iatiregistry.org/revision/' + revision["revision"]["id"] + '">' + revision["revision"]["timestamp"].substring(0,10) + '</a></td><td>' + revision["revision"]['message'] + '</td><td><a href="http://iatiregistry.org/publisher/' + revision["publisher"]["name"] + '">' + revision["publisher"]["display_name"] + '</a></td></tr>');
                });
            }
        });
    }
    function report_error(error){
        $("#publisher_data tbody").append('<tr><td colspan="3"><i class="icon-remove"></i> ' + error + '</td></tr>');
    }
    $("#show_all_data").click(function() {
        which_selection = "all";
        offset = 0;
        $(".previous").addClass("disabled");
        $("#offset").val(offset);
        get_packagegroup_data();
    });
    $("#next").click(function(){
        $(".previous").removeClass("disabled");
        offset = (offset+limit);
        $("#offset").val(offset);
        get_packagegroup_data();        
    });
    $("#previous").click(function(){
        if (offset > 0) {
            offset = (offset-limit);
            $("#offset").val(offset);
            get_packagegroup_data();
        }
        if (offset<=0) {
           $(".previous").addClass("disabled");
        }     
    });
</script>
{% endblock %}
